<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script>
    /* --- */
    window.GOOGLE_PLAY_URL = "";
    window.APP_STORE_URL = "";
    /* --- */
  </script>
  <style>
  body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
  }

  #app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  </style>
  <title>PixiJS Playable Template</title>
</head>

<body>
    <div id="app"></div>
</body>
</html>
